extends layout
block content
  div.container-fluid
    div.row
      div.col-md-12
        h1 Tweets Recolectados
    div.row
      div.col-md-12
        form Filtrar tweets del dia:  
          input(type='date',id='datepicker')
        button.btn.btn-primary(type="button", onclick="filter()") Filtrar
    div#tweets.container
