body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p
{
  text-align: justify;
}
.box{
    border-radius: 1em;
    box-shadow: 1em 1em 2em 0em rgba(0, 0, 0, 0.16), 0em 2em 4em 0em rgba(0, 0, 0, 0.12);
    padding: 1em 2em;
    display: block;
    margin-top: 3em;
    border: 0.1em solid rgba(0, 0, 0, 0.1);
}
.box-icon
{
  margin: 0 auto;
  vertical-align: top;
  margin-top: -3em;
  display: table;
}
